body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background: linear-gradient(to right, #1b3966, #78afe9);
}

.navbar-brand {
  color: aliceblue;
}

.navbar-brand span {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.nav-link {
  color: rgb(255, 255, 255);
  margin: 0 8px;
  font-weight: 500;
}

#hero {
  background-image: url('../images/pexels-quang-nguyen-vinh-222549-2162670.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.d-flex {
  height: 70vh;
}

.display-1 {
  font-weight: 700;
}

.lead {
  font-weight: 500;
  text-shadow:#014d62
}