body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background: linear-gradient(to right, #014d62, #01cef2);
}

.navbar-brand {
  color: aliceblue;
}

.navbar-brand span {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.nav-link {
  color: rgb(255, 255, 255);
  margin: 0 8px;
  font-weight: 500;
}

#hero {
  background-image: url('../images/pexels-daniel-reche-718241-1556664.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.d-flex {
  height: 70vh;
}

.display-1 {
  font-weight: 500;
}


